In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
        {"a": [4, 5, 6], # 열방향으로 만들어진다?? 딕셔너리 형태에서는.
        "b": [7, 8, 9],
        "c": [10, 11, 12]},
        index = [1,2,3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
# 선택 방법
df.loc[3, "a"] # 행, 열 순

6

In [5]:
df.loc[[1,2], ["a", "b"]] # 리스트로 감싸서 여러개의 행과 열을 가져온다.

   a  b
1  4  7
2  5  8

In [6]:
# 딕셔너리로 표현하는 방법과 다르게 그냥 컬럼즈로 해주는 방법. 인덱스는 그냥 그대로
df = pd.DataFrame(
        [[4, 7, 10], # 행렬 데이터를 리스트로 한번 더 감싸주었다. 데이터 형태를 만들어주기 위해. 행방향으로 만들어진다. 
        [5, 8, 11],
        [6, 9, 12]], # 행의 시리즈 데이터를 넣어주고 컬럼 내용을 넣어준다.
        index=[1, 2, 3], # 처음에는 0부터 시작
        columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [10]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples( # 멀티 인덱스, 튜플로 정해준다. 인덱스는 n과 v로.
        [('d',1),('d',2),('e',2)], # 인덱스 튜플로 정해주고 데이터 프레임을 만들어준다.
        names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12