In [1]:
import pandas as pd

In [4]:
adf = pd.DataFrame({"x1": ["A", "B", "C"],
                    "x2": [1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [12]:
bdf = pd.DataFrame({"x1": ["A", "B", "D"],
                    "x2": ["T", "F", "T"]})
bdf

  x1 x2
0  A  T
1  B  F
2  D  T

In [13]:
pd.merge(adf, bdf,
         how='left', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [14]:
pd.merge(adf, bdf, how='right', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [15]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [16]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [17]:
pd.merge?

In [20]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

In [19]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [21]:
adf[~adf.x1.isin(bdf.x1)]  # ~는 제외하고

  x1  x2
2  C   3

In [22]:
ydf = pd.DataFrame({"x1": ["A", "B", "C"],
                    "x2": [1, 2, 3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [23]:
zdf = pd.DataFrame({"x1": ["B", "C", "D"],
                    "x2": [2, 3, 4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [24]:
pd.merge(ydf, zdf)  # inner join이라 같은 값만

  x1  x2
0  B   2
1  C   3

In [25]:
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [28]:
pd.merge(ydf, zdf, how='outer', indicator=True)  # 갑 생성 관련

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [30]:
pd.merge(ydf, zdf, how='outer', indicator=True
         ).query('_merge == "left_only"'
                 ).drop(columns=['_merge'])

  x1  x2
0  A   1