In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(['a', 'b'])

In [3]:
s2 = pd.Series(['c', 'd'])

In [4]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [5]:
pd.concat([s1, s2], ignore_index=True) # 인덱스 변화

0    a
1    b
2    c
3    d
dtype: object

In [7]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row ID']) # 키값 정해주기

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [8]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [9]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])

In [11]:
pd.concat([df1, df2]) # 리스트 형태로 해줘야 한다.

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [12]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])

In [13]:
pd.concat([df1, df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [14]:
pd.concat([df1, df3], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [15]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])

In [16]:
df5 = pd.DataFrame([1], index=['a'])

In [17]:
df6 = pd.DataFrame([2], index=['a'])

In [19]:
pd.concat([df5, df6]) #verify ~ 무결성 검사

   0
a  1
a  2