In [1]:
import pandas as pd
import nupy as np

In [3]:
df = pd.DataFrame([])
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df.assign?

In [7]:
#df = pd.DataFrame({'temp_c': [17.0, 25.0]},
#                index=['Portland', 'Berkeley'])

df = pd.DataFrame({'A' : range(1, 11), 'B' : np.random.randn(10)})
df

    A         B
0   1  0.792329
1   2  0.875813
2   3  0.917425
3   4 -1.147411
4   5  0.168966
5   6 -0.509895
6   7  1.954472
7   8  0.419103
8   9  1.732378
9  10 -0.545170

In [ ]:
df.assign(Area=lambda df: df.Length*df.Height) # 해당 컬럼이 있다면 컬럼값을 곱해 면적을 구해줘라...

In [9]:
df.assign(ln_A = lambda x: np.log(x.A)).head() # np.log를 붙여 컬럼 하나 더 붙여주기.

   A         B      ln_A
0  1  0.792329  0.000000
1  2  0.875813  0.693147
2  3  0.917425  1.098612
3  4 -1.147411  1.386294
4  5  0.168966  1.609438

In [12]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  0.792329  0.000000
1   2  0.875813  0.693147
2   3  0.917425  1.098612
3   4 -1.147411  1.386294
4   5  0.168966  1.609438
5   6 -0.509895  1.791759
6   7  1.954472  1.945910
7   8  0.419103  2.079442
8   9  1.732378  2.197225
9  10 -0.545170  2.302585

In [16]:
pd.qcut(df.B, 2, labels=["good", "bad"]) # 다섯개 리스트 값. 세개의 버킷으로 만든다.

0     bad
1     bad
2     bad
3    good
4    good
5    good
6     bad
7    good
8     bad
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [18]:
df.max(axis=0) # 최대값

A       10.000000
B        1.954472
ln_A     2.302585
dtype: float64

In [19]:
df.min(axis=1)

0    0.000000
1    0.693147
2    0.917425
3   -1.147411
4    0.168966
5   -0.509895
6    1.945910
7    0.419103
8    1.732378
9   -0.545170
dtype: float64

In [23]:
df["A"].clip(lower=2 , upper=5) # 임계치 지정해서 값 변경

0    2
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [25]:
df.abs()

      A         B      ln_A
0   1.0  0.792329  0.000000
1   2.0  0.875813  0.693147
2   3.0  0.917425  1.098612
3   4.0  1.147411  1.386294
4   5.0  0.168966  1.609438
5   6.0  0.509895  1.791759
6   7.0  1.954472  1.945910
7   8.0  0.419103  2.079442
8   9.0  1.732378  2.197225
9  10.0  0.545170  2.302585