In [18]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [4]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [7]:
df['species'].value_counts()
# 각각의 값을 그룹화 해서 세준다.

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [12]:
pd.DataFrame(df['species'].value_counts())

            species
virginica        50
setosa           50
versicolor       50

In [14]:
df.shape[0] == len(df) # 행만 가져오고 싶다면 len(df)와 같음.

True

In [15]:
df['sepal_length'].nunique()

35

In [19]:
df.describe(include=[np.object]) # object 타입만 보고 싶다면.

          species
count         150
unique          3
top     virginica
freq           50

In [20]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

```
sum()
Sum values of each object.
count()
Count non-NA/null values of
each object.
median()
Median value of each object.
quantile([0.25,0.75])
Quantiles of each object.
apply(function)
Apply function to each object.
min()
Minimum value in each object.
max()
Maximum value in each object.
mean()
Mean value of each object.
var()
Variance of each object.
std()
Standard deviation of each
object.
```

In [21]:
df['petal_width'].sum()

179.90000000000003

In [22]:
df['petal_width'].count()

150

In [23]:
df['petal_width'].median()

1.3

In [24]:
df['petal_width'].mean()

1.1993333333333336

In [26]:
df['petal_width'].quantile([0.25,0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [27]:
df['petal_width'].var()

0.5810062639821029

In [28]:
df['petal_width'].min()

0.1

In [29]:
df['petal_width'].std()

0.7622376689603465

In [30]:
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

### apply(function)

In [38]:
def smp(x):
    # 뒤에서 3번째까지의 문자를 가져오는 함수
    x = x[-3:]
    return x

In [37]:
df['species'].apply(lambda x :x[-3:]) # 특정 글자수를 가져올 때.

0      osa
1      osa
2      osa
3      osa
4      osa
      ...
145    ica
146    ica
147    ica
148    ica
149    ica
Name: species, Length: 150, dtype: object

In [40]:
df['species'].apply(smp)

0      osa
1      osa
2      osa
3      osa
4      osa
      ...
145    ica
146    ica
147    ica
148    ica
149    ica
Name: species, Length: 150, dtype: object