In [1]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [2]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
datae = pd.date_range('20170101', periods=6, freq='M')
datae

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=datae, columns=list('abCD'))
df

                   a         b         C         D
2017-01-31 -0.512090 -0.596648  0.343050  0.176120
2017-02-28 -0.650290 -0.875101 -0.426518 -0.493010
2017-03-31 -1.938699  0.351448  1.390667 -0.886594
2017-04-30  0.879181  0.130442  0.474537  0.223284
2017-05-31  1.752852 -0.158402  1.181070 -0.247490
2017-06-30  1.067539  0.973022  0.882492  1.089159

In [5]:
df.<TAB>

SyntaxError: invalid syntax (<ipython-input-5-e47a8920668a>, line 1)

In [6]:
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-8-915637deb483>, line 1)

In [9]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [20]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
df2.combine

<bound method DataFrame.combine of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [22]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
df2.boxplot

<bound method boxplot_frame of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [24]:
df2.all

<bound method DataFrame.all of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [25]:
df.head()

                   a         b         C         D
2017-01-31  1.676077  1.439383 -0.453974 -2.226920
2017-02-28  0.266994  0.340089  1.447728  0.911434
2017-03-31 -0.215034  1.678987 -0.426543 -0.649816
2017-04-30 -0.636820 -0.616156 -0.414159 -0.550896
2017-05-31 -1.334202  0.102005 -0.126324  0.457670

In [26]:
df.tail()

                   a         b         C         D
2017-02-28  0.266994  0.340089  1.447728  0.911434
2017-03-31 -0.215034  1.678987 -0.426543 -0.649816
2017-04-30 -0.636820 -0.616156 -0.414159 -0.550896
2017-05-31 -1.334202  0.102005 -0.126324  0.457670
2017-06-30 -1.089124  1.165222 -0.050388 -1.353760

In [27]:
df.index()

TypeError: 'DatetimeIndex' object is not callable

In [28]:
df.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')

In [29]:
df.columns

Index(['a', 'b', 'C', 'D'], dtype='object')